In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,StandardScaler,MinMaxScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression

In [4]:
df=pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [8]:
x=df.iloc[:,0:3]
x

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [9]:
y=df.iloc[:,-1]
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.8,random_state=0)

In [11]:
xtrain

     sepal_length  sepal_width  petal_length
14            5.8          4.0           1.2
122           7.7          2.8           6.7
19            5.1          3.8           1.5
29            4.7          3.2           1.6
130           7.4          2.8           6.1
49            5.0          3.3           1.4
136           6.3          3.4           5.6
99            5.7          2.8           4.1
82            5.8          2.7           3.9
79            5.7          2.6           3.5
115           6.4          3.2           5.3
145           6.7          3.0           5.2
72            6.3          2.5           4.9
77            6.7          3.0           5.0
25            5.0          3.0           1.6
81            5.5          2.4           3.7
140           6.7          3.1           5.6
142           5.8          2.7           5.1
39            5.1          3.4           1.5
58            6.6          2.9           4.6
88            5.6          3.0           4.1
70            5.9          3.2           4.8
87            6.3          2.3           4.4
36            5.5          3.5           1.3
21            5.1          3.7           1.5
9             4.9          3.1           1.5
103           6.3          2.9           5.6
67            5.8          2.7           4.1
117           7.7          3.8           6.7
47            4.6          3.2           1.4

In [12]:
xtest

     sepal_length  sepal_width  petal_length
114           5.8          2.8           5.1
62            6.0          2.2           4.0
33            5.5          4.2           1.4
107           7.3          2.9           6.3
7             5.0          3.4           1.5
..            ...          ...           ...
57            4.9          2.4           3.3
131           7.9          3.8           6.4
65            6.7          3.1           4.4
32            5.2          4.1           1.5
138           6.0          3.0           4.8

[120 rows x 3 columns]

In [13]:
ytrain

14         setosa
122     virginica
19         setosa
29         setosa
130     virginica
49         setosa
136     virginica
99     versicolor
82     versicolor
79     versicolor
115     virginica
145     virginica
72     versicolor
77     versicolor
25         setosa
81     versicolor
140     virginica
142     virginica
39         setosa
58     versicolor
88     versicolor
70     versicolor
87     versicolor
36         setosa
21         setosa
9          setosa
103     virginica
67     versicolor
117     virginica
47         setosa
Name: species, dtype: object

In [14]:
ytest

114     virginica
62     versicolor
33         setosa
107     virginica
7          setosa
          ...
57     versicolor
131     virginica
65     versicolor
32         setosa
138     virginica
Name: species, Length: 120, dtype: object

In [15]:
le=LabelEncoder()
y_tr=le.fit_transform(ytrain)

In [16]:
y_te=le.fit_transform(ytest)

In [17]:
log=LogisticRegression()

In [18]:
log.fit(xtrain,y_tr)

LogisticRegression()

In [19]:
y_pred=log.predict(xtest)
y_pred

array([1, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 2, 1, 0, 1, 2, 1, 0, 1, 1, 1, 2, 0, 2, 0,
       0, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1,
       1, 2, 0, 0, 2, 1, 0, 0, 2, 0, 2, 1, 0, 1, 2, 1, 0, 2, 2, 2, 2, 0,
       0, 2, 2, 0, 2, 0, 1, 2, 0, 0, 2, 0, 0, 0, 1, 2, 2, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 2, 1, 2, 1, 0, 1])

In [21]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [22]:
print("Accuracy score =",accuracy_score(y_te,y_pred))

Accuracy score = 0.8916666666666667

In [23]:
pd.DataFrame(confusion_matrix(y_te,y_pred))

    0   1   2
0  40   0   0
1   0  38   1
2   0  12  29

In [24]:
result=pd.DataFrame()
result['Actual Label']=ytest
result['Decision Tree prediction']=y_pred

In [25]:
result

    Actual Label  Decision Tree prediction
114    virginica                         1
62    versicolor                         1
33        setosa                         0
107    virginica                         2
7         setosa                         0
..           ...                       ...
57    versicolor                         1
131    virginica                         2
65    versicolor                         1
32        setosa                         0
138    virginica                         1

[120 rows x 2 columns]

In [26]:
from sklearn.metrics import precision_score
precision_score(y_te,y_pred,average='weighted')

0.9106111111111111

In [27]:
from sklearn.metrics import recall_score
recall_score(y_te,y_pred,average='micro')

0.8916666666666667

In [28]:
from sklearn.metrics import f1_score
f1_score(y_te,y_pred,average='micro')

0.8916666666666667